* {
    margin: 0;
}

body {
    background-color: rgb(56, 53, 53);
    text-align: center;

}


h1 {
    font-size: 40px;
    text-align: center;
    height: 50px;
    color: orange;
}

header{
    color: white;
    background-color: rgb(60, 101, 148);
    border-radius: 22px;
    margin: 8px;
}

.menu,
#men {
    color: white;
    background-color: rgb(60, 101, 148);
    border-radius: 22px;
    margin: 10px;
}

nav {
    background-color: white;
    height: 200px;
}

.seccion,
#section {
    color: white;
    background-color: rgb(60, 101, 148);
    border-radius: 22px;
    margin: 8px;
    height: 50px;
}

.aside,
#aside {
    color: white;
    background-color: rgb(60, 101, 148);
    border-radius: 22px;
    margin: 8px;
}

footer {
    color: white;
    background-color: rgb(60, 101, 148);
    border-radius: 22px;
    margin-top: 10px;
}

body span {
    padding: 10px;
}